/c3.unicap.br.ana.ed1/classesBase/nbproject/private/
/c3.unicap.br.ana.ed1/classesPrincipais/nbproject/private/
/c3.unicap.br.ana.ed1/Aplicao/nbproject/private/
/c3.unicap.br.ana.ed1/classesBase/build/
/c3.unicap.br.ana.ed1/classesBase/dist/
/c3.unicap.br.ana.ed1/classesPrincipais/dist/
/c3.unicap.br.ana.ed1/classesPrincipais/build/
/c3.unicap.br.ana.ed1/Aplicao/build/
/c3.unicap.br.ana.ed1/Aplicao/dist/
/c3.unicap.br.ana.ed1/Prova1gq/nbproject/private/
/c3.unicap.br.ana.ed1/Prova1gq/build/
/c3.unicap.br.ana.ed1/Prova1gq/dist/
/c3.unicap.br.ana.ed1/Prova2gq/nbproject/private/
/c3.unicap.br.ana.ed1/Testes/nbproject/private/
/c3.unicap.br.ana.ed1/Testes/build/
/c3.unicap.br.ana.ed1/Testes/dist/
/c3.unicap.br.ana.ed1/RequisicaoJava/nbproject/private/
/c3.unicap.br.ana.ed1/RequisicaoJava/build/
/c3.unicap.br.ana.ed1/RequisicaoJava/dist/
/c3.unicap.br.ana.ed1/OlaMundo/nbproject/private/
/c3.unicap.br.ana.ed1/OlaMundo/build/
/c3.unicap.br.ana.ed1/jogovelhafx/nbproject/private/
/c3.unicap.br.ana.ed1/jogovelhafx/build/
/c3.unicap.br.ana.ed1/jogovelhafx/dist/
/c3.unicap.br.ana.ed1/JogoVelha/nbproject/private/
/c3.unicap.br.ana.ed1/JogoVelha/build/
/c3.unicap.br.ana.ed1/JogoDaVelha/nbproject/private/
/c3.unicap.br.ana.ed1/JogoDaVelha/build/
/c3.unicap.br.ana.ed1/JogoDaVelha/dist/
/c3.unicap.br.ana.ed1/JavaFXApplication5/nbproject/private/
/c3.unicap.br.ana.ed1/JogoVelha/dist/
/c3.unicap.br.ana.ed1/JavaFXApplication5/build/
/c3.unicap.br.ana.ed1/OlaMundo/dist/
/c3.unicap.br.ana.ed1/JogoDaVelha1/nbproject/private/
/c3.unicap.br.ana.ed1/JogoDaVelha1/build/
/c3.unicap.br.ana.ed1/JogoDaVelha1/dist/
/c3.unicap.br.ana.ed1/ColetorDeLixo/nbproject/private/
/c3.unicap.br.ana.ed1/ColetorDeLixo/dist/
/c3.unicap.br.ana.ed1/ColetorDeLixo/build/
/c3.unicap.br.ana.ed1/ControleAcademico/nbproject/private/
/c3.unicap.br.ana.ed1/ControleAcademico/build/
/c3.unicap.br.ana.ed1/ControleAcademico/dist/
/c3.unicap.br.ana.ed1/Vava/nbproject/private/
/c3.unicap.br.ana.ed1/Vava/build/
/c3.unicap.br.ana.ed1/SQLiteCrudApp/nbproject/private/
/c3.unicap.br.ana.ed1/SQLiteCrudApp/dist/
/c3.unicap.br.ana.ed1/SQLiteCrudApp/build/
/c3.unicap.br.ana.ed1/Teste/nbproject/private/
/c3.unicap.br.waldemar.poo/GeometriaCorpos/nbproject/private/
/c3.unicap.br.waldemar.poo/GeometriaCorpos/build/
/c3.unicap.br.waldemar.poo/nbproject/private/
/c3.unicap.br.waldemar.poo/build/
/MercadoInteligente1.0/nbproject/private/
/Mercado/nbproject/private/
/Mercado/build/
/Mercado/dist/
/Projeto2/nbproject/private/
/Projeto2/build/
/Projeto2/dist/